#mapid {
  height: 60vh;
  background-color: rgb(244, 244, 244);
  position: fixed;
  width: 100%;
  top: 12vh;
  left: 0;
  filter: grayscale(80%);
  transition: 0.5s;
  position: relative;
}
.guide {
  position: absolute;
  top: 17vh;
  left: 25vw;
  z-index: 1;
  color: white;
  background-color: #ff5c66;
  padding: 5px;
  border-radius: 10px;

  p {
    width: 16rem;
  }
}

@media only screen and (min-width: 1020px) {
  #mapid {
    height: 88vh;

    position: fixed;
    width: calc(100vw - 28rem);
    top: 12vh;

    left: 28rem;
    filter: grayscale(80%);
    transition: 0.5s;
  }
}
