.App {
  display: flex;
  flex-direction: column;
  .navi {
    height: 12vh;
    width: 100%;
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;

    .upperNavi {
      height: 100%;
      display: flex;
      justify-content: space-between;
      img {
        height: 100%;
      }
    }
  }
}
