.App {
  display: flex;
  flex-direction: column;
  .navi {
    height: 12vh;
    background-color: aqua;
    .upperNavi {
      height: 100%;
      display: flex;
      justify-content: space-between;
      img {
        height: 100%;
      }
    }
  }
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 35vh;
    width: 100%;
    background-color: red;
  }
  .maps {
    height: 53vh;
    background-color: indigo;
  }
}
